.search {
    background-color: white;
}

.search h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchForm {
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50rem;
}