.upload {
    margin-left: auto;
    margin-right: auto;
    display: block;
    align-content: center;
}

.upload h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-content: center;
}

#submit {
    display: block;
    margin: 1rem;
    padding: 0.2rem;
    border-radius: 5rem;
}